<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NewProductList</key>
	<array>
		<dict>
			<key>itemID</key>
			<string>1</string>
			<key>itemName</key>
			<string></string>
			<key>itemImage</key>
			<string>AS_NewProItem1</string>
			<key>itemPosition</key>
			<dict>
				<key>x</key>
				<string>106</string>
				<key>y</key>
				<string>383</string>
			</dict>
			<key>itemFrame</key>
			<string>0</string>
		</dict>
		<dict>
			<key>itemID</key>
			<string>2</string>
			<key>itemName</key>
			<string></string>
			<key>itemImage</key>
			<string>AS_NewProItem2</string>
			<key>itemPosition</key>
			<dict>
				<key>x</key>
				<string>268</string>
				<key>y</key>
				<string>446</string>
			</dict>
			<key>itemFrame</key>
			<string>0</string>
		</dict>
		<dict>
			<key>itemID</key>
			<string>3</string>
			<key>itemName</key>
			<string></string>
			<key>itemImage</key>
			<string>AS_NewProItem3</string>
			<key>itemPosition</key>
			<dict>
				<key>x</key>
				<string>427</string>
				<key>y</key>
				<string>358</string>
			</dict>
			<key>itemFrame</key>
			<string>0</string>
		</dict>
		<dict>
			<key>itemID</key>
			<string>4</string>
			<key>itemName</key>
			<string></string>
			<key>itemImage</key>
			<string>AS_NewProItem4</string>
			<key>itemPosition</key>
			<dict>
				<key>x</key>
				<string>587</string>
				<key>y</key>
				<string>405</string>
			</dict>
			<key>itemFrame</key>
			<string>0</string>
		</dict>
		<dict>
			<key>itemID</key>
			<string>5</string>
			<key>itemName</key>
			<string></string>
			<key>itemImage</key>
			<string>AS_NewProItem5</string>
			<key>itemPosition</key>
			<dict>
				<key>x</key>
				<string>748</string>
				<key>y</key>
				<string>471</string>
			</dict>
			<key>itemFrame</key>
			<string>0</string>
		</dict>
		<dict>
			<key>itemID</key>
			<string>6</string>
			<key>itemName</key>
			<string></string>
			<key>itemImage</key>
			<string>AS_NewProItem6</string>
			<key>itemPosition</key>
			<dict>
				<key>x</key>
				<string>908</string>
				<key>y</key>
				<string>368</string>
			</dict>
			<key>itemFrame</key>
			<string>0</string>
		</dict>
		<dict>
			<key>itemID</key>
			<string>7</string>
			<key>itemName</key>
			<string></string>
			<key>itemImage</key>
			<string>AS_NewProItem7</string>
			<key>itemPosition</key>
			<dict>
				<key>x</key>
				<string>1131</string>
				<key>y</key>
				<string>383</string>
			</dict>
			<key>itemFrame</key>
			<string>0</string>
		</dict>
		<dict>
			<key>itemID</key>
			<string>8</string>
			<key>itemName</key>
			<string></string>
			<key>itemImage</key>
			<string>AS_NewProItem8</string>
			<key>itemPosition</key>
			<dict>
				<key>x</key>
				<string>1291</string>
				<key>y</key>
				<string>446</string>
			</dict>
			<key>itemFrame</key>
			<string>0</string>
		</dict>
		<dict>
			<key>itemID</key>
			<string>9</string>
			<key>itemName</key>
			<string></string>
			<key>itemImage</key>
			<string>AS_NewProItem9</string>
			<key>itemPosition</key>
			<dict>
				<key>x</key>
				<string>1451</string>
				<key>y</key>
				<string>358</string>
			</dict>
			<key>itemFrame</key>
			<string>0</string>
		</dict>
		<dict>
			<key>itemID</key>
			<string>10</string>
			<key>itemName</key>
			<string></string>
			<key>itemImage</key>
			<string>AS_NewProItem10</string>
			<key>itemPosition</key>
			<dict>
				<key>x</key>
				<string>1611</string>
				<key>y</key>
				<string>405</string>
			</dict>
			<key>itemFrame</key>
			<string>0</string>
		</dict>
		<dict>
			<key>itemID</key>
			<string>11</string>
			<key>itemName</key>
			<string></string>
			<key>itemImage</key>
			<string>AS_NewProItem11</string>
			<key>itemPosition</key>
			<dict>
				<key>x</key>
				<string>1772</string>
				<key>y</key>
				<string>471</string>
			</dict>
			<key>itemFrame</key>
			<string>0</string>
		</dict>
		<dict>
			<key>itemID</key>
			<string>12</string>
			<key>itemName</key>
			<string></string>
			<key>itemImage</key>
			<string>AS_NewProItem12</string>
			<key>itemPosition</key>
			<dict>
				<key>x</key>
				<string>1932</string>
				<key>y</key>
				<string>368</string>
			</dict>
			<key>itemFrame</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
