<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>CellImageName</key>
			<string>shaocang</string>
			<key>CellLabel</key>
			<string>我的收藏</string>
			<key>CellViewControllerName</key>
			<string>FavouriteViewController</string>
		</dict>
		<dict>
			<key>CellImageName</key>
			<string>wodezhiding</string>
			<key>CellLabel</key>
			<string>我的定制</string>
			<key>CellViewControllerName</key>
			<string>DiyViewController</string>
		</dict>
		<dict>
			<key>CellImageName</key>
			<string>gouwuche</string>
			<key>CellLabel</key>
			<string>购物车</string>
			<key>CellViewControllerName</key>
			<string>ShopCartViewController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>CellImageName</key>
			<string>sanyisao</string>
			<key>CellLabel</key>
			<string>扫一扫</string>
			<key>CellViewControllerName</key>
			<string>DimensionsViewController</string>
		</dict>
		<dict>
			<key>CellImageName</key>
			<string>jisuanji</string>
			<key>CellLabel</key>
			<string>计算器</string>
			<key>CellViewControllerName</key>
			<string>CalculateViewController</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>CellImageName</key>
			<string>yonghushezhi</string>
			<key>CellLabel</key>
			<string>用户设置</string>
			<key>CellViewControllerName</key>
			<string>ASUserSetting</string>
		</dict>
		<dict>
			<key>CellImageName</key>
			<string>appgengxin</string>
			<key>CellLabel</key>
			<string>APP更新</string>
			<key>CellViewControllerName</key>
			<string>UserSettingViewController</string>
		</dict>
		<dict>
			<key>CellImageName</key>
			<string>shiyongzhinan1</string>
			<key>CellLabel</key>
			<string>使用指南</string>
			<key>CellViewControllerName</key>
			<string>ASUserGuide</string>
		</dict>
	</array>
</array>
</plist>
